<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mt-4">
    <div class="col">
        <div class="list-group">
            <ul class="list-group-item">
                <li class="list-group-item"><p><strong>TODO:- </strong> {{all_todo.Title}}
                    <strong>Details:- </strong> {{all_todo.details}}
                    <strong>Todo Time:- </strong> {{all_todo.do_date}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>